/* SPDX-License-Identifier: MPL-2.0 */
/* Copyright © 2024 André "Oats" Santos */

body,
html {
  padding: 0;
  margin: 0;
  background: #333;
  color: #e6e6e6;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
}

#board {
  width: 100vw;
  height: 100vh;
  background-color: darkolivegreen;
}

#board.active {
  background-color: cadetblue;
}

.react-flow__node {
  background-color: #e6e6e6;
  color: #333;
  font-weight: bold;
  font-size: 1.5rem;
  min-width: 3rem;
  min-height: 3rem;
  width: auto;
  height: auto;
  border-radius: 25%;
  padding: 0;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.custom-node-body {
  min-width: 3rem;
  min-height: 3rem;
  border: 3px solid black;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.custom-node.goal .custom-node-body {
  border-color: firebrick;
}

.custom-node.spawn .custom-node-body {
  border-color: navy;
}

.react-flow__node.selected .custom-node-body {
  border-color: lightskyblue;
}

/*.react-flow__handle { visibility: hidden; }*/

.custom-handle {
  width: 100%;
  height: 100%;
  background: blue;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0;
  transform: none;
  border: none;
  opacity: 0;
}

.react-flow__edge {
  pointer-events: none;
}

/*.react-flow__edge.animated path {
  animation-direction: reverse;
}*/

.react-flow__edge-path {
  stroke-width: 6;
  stroke: #e6e6e6;
}

.react-flow__connection {
  visibility: hidden;
}

/*.react-flow__connection-path {
  stroke-width: 6;
  stroke: #e6e6e6;
}*/

.react-flow .action-bar {
  border: 1px solid whitesmoke;
  background-color: #333;
  font-weight: bold;
}
